In [2]:
import pandas as pd

data = [['Google', 10], ['Runoob', 12], ['Wiki', 13]]

df = pd.DataFrame(data, columns=['Site', 'Age'])

print(df)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [3]:
data = {
    'a': [1, 2],
    'b': [4, 8]
}
df = pd.DataFrame(data)
print(df.loc[0])
print(df.loc[1])
print(df.loc[[0, 1]])

df1 = pd.DataFrame(data, index=['a1', 'b1'])
print(df1)
print(df1.loc['a1'])

a    1
b    4
Name: 0, dtype: int64
a    2
b    8
Name: 1, dtype: int64
   a  b
0  1  4
1  2  8
    a  b
a1  1  4
b1  2  8
a    1
b    4
Name: a1, dtype: int64

# Pandas CSV 文件

In [5]:
nme = ["Google", "Runoob", "Taobao", "Wiki"]
st = ["www.google.com", "www.runoob.com", "www.taobao.com", "www.wikipedia.org"]
ag = [90, 40, 80, 98]

# 字典
dict = {'name': nme, 'site': st, 'age': ag}

df = pd.DataFrame(dict)
print(df)

df.to_csv('data/site.csv')

     name               site  age
0  Google     www.google.com   90
1  Runoob     www.runoob.com   40
2  Taobao     www.taobao.com   80
3    Wiki  www.wikipedia.org   98

In [6]:
df2 = pd.read_csv('data/site.csv')
print(df2.head())
print(df2.head(2))
print('=' * 40)
print(df2.tail())
print(df2.tail(2))
print('=' * 40)
print(df2.info())

   Unnamed: 0    name               site  age
0           0  Google     www.google.com   90
1           1  Runoob     www.runoob.com   40
2           2  Taobao     www.taobao.com   80
3           3    Wiki  www.wikipedia.org   98
   Unnamed: 0    name            site  age
0           0  Google  www.google.com   90
1           1  Runoob  www.runoob.com   40
========================================
   Unnamed: 0    name               site  age
0           0  Google     www.google.com   90
1           1  Runoob     www.runoob.com   40
2           2  Taobao     www.taobao.com   80
3           3    Wiki  www.wikipedia.org   98
   Unnamed: 0    name               site  age
2           2  Taobao     www.taobao.com   80
3           3    Wiki  www.wikipedia.org   98
========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   name        4 non-null      object
 2   site        4 non-null      object
 3   age         4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None

# Pandas JSON

In [7]:
data = [
    {
        "id": "A001",
        "name": "菜鸟教程",
        "url": "www.runoob.com",
        "likes": 61
    },
    {
        "id": "A002",
        "name": "Google",
        "url": "www.google.com",
        "likes": 124
    },
    {
        "id": "A003",
        "name": "淘宝",
        "url": "www.taobao.com",
        "likes": 45
    }
]
df = pd.DataFrame(data)

print(df)

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45

In [8]:
# 字典格式的 JSON                                                                                              
s = {
    "col1": {"row1": 1, "row2": 2, "row3": 3},
    "col2": {"row1": "x", "row2": "y", "row3": "z"}
}

# 读取 JSON 转为 DataFrame                                                                                          
df = pd.DataFrame(s)
print(df)

      col1 col2
row1     1    x
row2     2    y
row3     3    z

In [9]:
df = pd.read_json('https://static.runoob.com/download/sites.json')
print(df)

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45

In [10]:
df = pd.read_json('data/nested_list.json')
print(df)

          school_name   class  \
0  ABC primary school  Year 1
1  ABC primary school  Year 1
2  ABC primary school  Year 1

                                            students
0  {'id': 'A001', 'name': 'Tom', 'math': 60, 'phy...
1  {'id': 'A002', 'name': 'James', 'math': 89, 'p...
2  {'id': 'A003', 'name': 'Jenny', 'math': 79, 'p...

In [11]:
import json

with open('data/nested_list.json') as file:
    data = json.loads(file.read())

print(pd.json_normalize(data, record_path='students'))
print(pd.json_normalize(data, record_path='students', meta=['school_name', 'class']))

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78
     id   name  math  physics  chemistry         school_name   class
0  A001    Tom    60       66         61  ABC primary school  Year 1
1  A002  James    89       76         51  ABC primary school  Year 1
2  A003  Jenny    79       90         78  ABC primary school  Year 1

In [12]:
with open('data/nested_deep.json') as file:
    data = json.loads(file.read())

print(pd.json_normalize(data, max_level=3))

     学校 地理位置  排名                                          老师 信息.学生  \
0  清华大学   北京   1  [{'名字': '王五'}, {'名字': '王六'}, {'名字': '王七'}]    张三

   信息.联系方式.邮件.qq邮箱 信息.联系方式.邮件.163邮箱 信息.联系方式.电话号码
0  zhangsan@qq.com    zhangsan@.com    123456789

## Pandas 数据清洗
数据清洗是对一些没有用的数据进行处理的过程。
很多数据集存在数据缺失、数据格式错误、错误数据或重复数据的情况，如果要对使数据分析更加准确，就需要对这些没有用的数据进行处理。
在这个教程中，我们将利用 Pandas包来进行数据清洗。

In [64]:
# df = pd.read_csv('data/property-data.csv')

missing_values = ["n/a", "na", "--"]
df = pd.read_csv('data/property-data.csv', na_values=missing_values)

print(df['NUM_BEDROOMS'])
print('=' * 40)
#  isnull() 判断各个单元格是否为空
print(df['NUM_BEDROOMS'].isnull())

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    1.0
8    NaN
Name: NUM_BEDROOMS, dtype: float64
========================================
0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: NUM_BEDROOMS, dtype: bool

In [53]:
# 默认情况下，dropna() 方法返回一个新的 DataFrame，不会修改源数据。若需修改源数据 DataFrame, 可以使用 inplace = True 参数
df2 = df['NUM_BEDROOMS'].dropna()
print(df)
print("=" * 80)
print(df2)
print("+" * 80)

df3 = df['NUM_BEDROOMS']
df4 = df3.dropna(inplace=True)
print(df3)
print("+" * 80)
print(df4)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0
================================================================================
0    3.0
1    3.0
3    1.0
4    3.0
6    2.0
7    1.0
Name: NUM_BEDROOMS, dtype: float64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
0    3.0
1    3.0
3    1.0
4    3.0
6    2.0
7    1.0
Name: NUM_BEDROOMS, dtype: float64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
None

In [54]:
df_new = df.copy()
print(id(df), id(df_new))
print("+" * 80)

df_new.dropna(inplace=True)
print(df_new)
print("+" * 80)

df_new2 = df.copy()
df_new2.dropna(inplace=True, subset=['PID'])
print(df_new2)

2641674691056 2641689665104
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
           PID  ST_NUM ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0  PUTNAM            Y           3.0        1  1000.0
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [63]:
df_new3 = df.copy()
df.fillna(1234, inplace=True)
print(df_new3)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5  1234.0
2  100003000.0  1234.0   LEXINGTON            N        1234.0        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0     1234   700.0
4       1234.0   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y        1234.0        1   800.0
6  100007000.0  1234.0  WASHINGTON         1234           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1  1234.0
8  100009000.0   215.0     TREMONT            Y        1234.0        2  1800.0

In [90]:
df_new = df.copy()
# x = df_new['ST_NUM'].mean()
# x = df_new['ST_NUM'].median()
x = df_new['ST_NUM'].mode()
# 众数可能是多个数量相同的值，若不取一个，则会填充生成后的Series对应下标的数据
# if type(x) == type(pd.Series(1)):
#     x = x[0]

print(x)
df_new['ST_NUM'].fillna(x, inplace=True)
print(df_new)

0    104.0
1    197.0
2    201.0
3    203.0
4    207.0
5    213.0
6    215.0
Name: ST_NUM, dtype: float64
           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0   201.0   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0   215.0  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [92]:
data = {
  "Date": ['2020/12/01', '2020/12/02' , '20201226'], # 第三个日期格式错误
  "duration": [50, 40, 45]
}
df_data = pd.DataFrame(data)
df_datetime = pd.to_datetime(df_data['Date'])
print(df_datetime)

0   2020-12-01
1   2020-12-02
2   2020-12-26
Name: Date, dtype: datetime64[ns]

In [118]:
person = {
  "name": ['Google', 'Runoob' , 'Taobao'],
  "age": [50, 121, 12345]    # 12345 年龄数据是错误的，另外 超出120的需改为 120
}
df_person = pd.DataFrame(person, index=['row1', 'row2', 'row3'])
print(df_person)
print("+" * 80)

# print(df_person.loc['row3', 'age'])
df_person.loc['row3', 'age'] = 20
print(df_person)
print("+" * 80)

for x in df_person.index:
    if (y := df_person.loc[x, 'age']) > 120:
        df_person.loc[x, 'age'] = 120
print(df_person)

# 或者直接删除掉
df_person.loc['row3', 'age'] = 12345
for x in df_person.index:
    if (y := df_person.loc[x, 'age']) > 120:
        df_person.drop(x, inplace=True)
        print(y)
print(df_person)

        name    age
row1  Google     50
row2  Runoob    121
row3  Taobao  12345
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        name  age
row1  Google   50
row2  Runoob  121
row3  Taobao   20
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        name  age
row1  Google   50
row2  Runoob  120
row3  Taobao   20
12345
        name  age
row1  Google   50
row2  Runoob  120

In [121]:
person = {
  "name": ['Google', 'Runoob', 'Runoob', 'Taobao'],
  "age": [50, 40, 40, 23]
}
df = pd.DataFrame(person)
print(df)
print('='*80)
print(df.duplicated())
print('='*80)
print(df.drop_duplicates())

     name  age
0  Google   50
1  Runoob   40
2  Runoob   40
3  Taobao   23
================================================================================
0    False
1    False
2     True
3    False
dtype: bool
================================================================================
     name  age
0  Google   50
1  Runoob   40
3  Taobao   23